/*
 * Style for the mass interpolation demo (shapeschemes.js)
 */

#shapeschemes { /* the container div */
	position: relative;
	padding: 0; margin: 0;
	border: 2px solid black; 
}

#shapeschemes svg {
	position: absolute; /*top: 0; left: 0; */
	width: 100%; height: 100%;
}

#shapeschemes select {
	position: absolute; top: 5px; left: 5px; 
}

#shapeschemes .grid {
	stroke: black; fill: none;
}

#shapeschemes .handle {
	fill-opacity: 0;
}


